In [ ]:
import psycopg2
from psycopg2 import sql
import csv

connect = psycopg2.connect(host="localhost",dbname = "postgres", user = "postgres", password = "210901", port = 5432)

cur = connect.cursor()

connect.commit()

#Select all persons that work for a show
cur.execute(""" 
SELECT * FROM person WHERE person_id IN (SELECT person_id FROM acted_in WHERE show_id IN (SELECT show_id FROM show WHERE title = 'Accepted'))

""")
print(cur.fetchall())


cur.close()
connect.close()

In [ ]:
connect = psycopg2.connect(host="localhost",dbname = "postgres", user = "postgres", password = "210901", port = 5432)

cur = connect.cursor()

connect.commit()

#Getting the average of the time of all film
cur.execute(""" 
SELECT AVG(duration) FROM show where type_show = 'TV Show'  
    """)

print(cur.fetchall())

#Getting the average of the time of all show
cur.execute(""" 
SELECT AVG(duration) FROM show where type_show = 'Movie'            
    """)

print(cur.fetchall())


cur.close()
connect.close()

In [ ]:
connect = psycopg2.connect(host="localhost",dbname = "postgres", user = "postgres", password = "210901", port = 5432)

cur = connect.cursor()

connect.commit()

#Search for movies shot in the United States suitable for 14 years.
cur.execute("""
SELECT title 
FROM show 
WHERE type_show = 'Movie'  
AND show_id IN (SELECT show_id FROM filmed_in WHERE country_id = (SELECT country_id FROM country WHERE country_name = 'United States'))
AND show_id IN (SELECT show_id FROM rated WHERE rating_id = 1 );
""")

print(cur.fetchall())

#Search for a tv show between 2018 and 2021
cur.execute("""
SELECT title
FROM show
WHERE type_show = 'Movie'  
AND release_date > 2018 AND release_date < 2021
""")
print(cur.fetchall())

cur.close()
connect.close()

In [ ]:
connect = psycopg2.connect(host="localhost",dbname = "postgres", user = "postgres", password = "210901", port = 5432)

cur = connect.cursor()

connect.commit()


cur.execute("""
SELECT c.country_name, COUNT(f.country_id) AS count
FROM filmed_in AS f
JOIN country AS c ON f.country_id = c.country_id
JOIN show AS s ON f.show_id = s.show_id
WHERE s.type_show = 'Movie'
GROUP BY f.country_id, c.country_name
ORDER BY count DESC;
            """)
print(cur.fetchall())
cur.close()
connect.close()

In [ ]:
connect = psycopg2.connect(host="localhost",dbname = "postgres", user = "postgres", password = "210901", port = 5432)

cur = connect.cursor()

connect.commit()

#Select all persons who has in acted_in but no in directed_by
cur.execute("""
SElect * FROM person WHERE person_id IN (SELECT person_id FROM acted_in) AND person_id NOT IN (SELECT person_id FROM directed_by)
            """)
print(cur.fetchall())
cur.close()
connect.close()