In [ ]:
# Get the show_id of different show that was released in 2019
'''
SELECT ?s ?p ?o
WHERE {
  ?s ?p ?o
  FILTER(?o = 2019) 
}
LIMIT 100
'''

In [ ]:
# Simple query to get the name of a show 
'''
SELECT ?name
WHERE 
{
	<http://data.show-catalog.org/show/s2579> 	<http://ontology.show-catalog.org/show#name> ?name
}
'''

In [ ]:
#Simple query to show the name of a movie with the duration and with duration > 90 
'''
PREFIX ntf:  <http://ontology.show-catalog.org/show#>
SELECT ?name ?duration
WHERE
  { ?x ntf:name ?name .
  ?x ntf:duration ?duration FILTER (?duration > 90)}
LIMIT 100
'''

In [ ]:
#Getting the name of the person 
'''
PREFIX ntf:  <http://ontology.show-catalog.org/show#>
PREFIX rdf:  <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX rr:   <http://www.w3.org/ns/r2rml#>

SELECT DISTINCT ?person ?name
WHERE {
  ?person rdf:type ntf:Person ;
          ntf:name ?name .
}
LIMIT 100
'''

In [ ]:
#Intermediary query to count the number of movie product in a certain country
'''
PREFIX ntf: <http://ontology.show-catalog.org/show#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>

SELECT ?countryName (COUNT(*) AS ?count)
WHERE {
  ?show rdf:type ntf:Movie ;
        ntf:name ?name ;
        ntf:producedIn ?country .
  ?country ntf:name ?countryName .
}
GROUP BY ?countryName
ORDER BY DESC(?count)
'''